body {
    margin: 0;

}
.bg{
    background-color: rgb(61, 61, 61);
    background-image: url(saturn1920x1080.jpg);
    width: 1654px; height: 868px;
    position: absolute;
    background-blend-mode: multiply;
    top: -50px;
    background-size: 110%;
}
.Saturntext{
    width: 156px; 
    left: 80px;
    top: 32px;
    position: absolute; 
    color: white;
    font-size: 40px;
    font-family: Inter;
    font-weight: 600;
    word-wrap: break-word;
}
.Social{
    width: 122px;
    left: 236px;
    top: 32px;
    position: absolute;
    color: white;
    font-size: 40px;
    font-family: Inter;
    font-weight: 600;
    word-wrap: break-word;
}
.About{
    width: 350px;
    left: 700px;
    top: -5px;
    position: absolute;
    color: #E5D4B2;
    font-size: 96px;
    font-family: Inter;
    font-weight: 600;
    word-wrap: break-word;
}
.Start{
    width: 163px;
    height: 71px;
    left: 1250px;
    top: 12px;
    position: absolute;
    color: white;
    font-size: 64px;
    font-family: Inter;
    font-weight: 600;
    word-wrap: break-word;
}
.Image{
    width: 210.57px;
    height: 210.57px;
    left: 1400px;
    top: -40px;
    position: absolute;
    transform: rotate(20deg);
    transform-origin: 0 0;
}
.SaturnOffscreen{
    width: 903px;
    height: 121px;
    left: 255px;
    top: 145px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: Inter;
    font-weight: 600;
    word-wrap: break-word;
}
.Saturn{
    width: 370px;
    height: 335px;
    left: 777px;
    top: 376px;
    position: absolute;
}