body{
    margin: 0;
  }

  .bg{
    background-color: rgb(61, 61, 61);
    background-image: url(saturn1920x1080.jpg);
    width: 1654px; height: 868px;
    position: absolute;
    /* background-blend-mode: multiply; */
    top: -50px;
    background-size: 110%;

  }